{% extends 'dataApp/main.html' %}
{% load static %}
{% block content %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student list</title>
	<link rel="stylesheet" type="text/css" href="{% static '/dataApp/list.css' %}">
	 
</head>

<div style="overflow-x: auto;"><form method="GET" action=".">
	<!-- {%csrf_token%}
	<input type="text" name="search_box" placeholder="Search student"> -->
	{{ filter.form }}
	<button id="search_submit" type="submit" >Search</button>
</form>

{% if students%}
<p>Total number of students is {{ students|length }}</p>
		<table>
			<th>No.</th>
			<th>PICTURE</th>
			<th>NAME</th>
			<th>GENDER</th>
			<th>KCPE YEAR</th>
			<!-- <th>KCPE MARKS</th> -->
			<th>KCPE GRADE</th>
			<th>COUNTY</th>
			<th>INFO</th>
			
			{% for list in students %}
			<tr>
				<td>0{{forloop.counter}}.</td>
				
				<td>
					{% if persons.pic %}
					<img src="{{list.pic.url}}" width="50px" height="50px" alt="{{list.name}}'s picture profile">
					{% else %}
					<br>
					<img src="{{list.pic}}">
					{% endif %}
				</td>
				<td class="name">{{list.name.capitalize}}</td>
				<td>{{list.gender}}</td>
				<td>{{list.kcpe_year}}</td>
				<td>
					{% if list.kcpe_marks >= 400 and list.kcpe_marks <= 500 %}
					<p>A</p>
					{% elif list.kcpe_marks >= 375 and list.kcpe_marks < 400  %}
					<p>A-</p>
					{% elif list.kcpe_marks >= 350 and list.kcpe_marks < 375  %}
					<p>B+</p>
					{% elif list.kcpe_marks >= 325 and list.kcpe_marks < 350  %}
					<p>B</p>
					{% elif list.kcpe_marks >= 300 and list.kcpe_marks < 325  %}
					<p>B-</p>
					{% elif list.kcpe_marks >= 275 and list.kcpe_marks < 300  %}
					<p>C+</p>
					{% elif list.kcpe_marks >= 250 and list.kcpe_marks < 275  %}
					<p>C</p>
					{% elif list.kcpe_marks >= 225 and list.kcpe_marks < 250  %}
					<p>C-</p>
					{% elif list.kcpe_marks >= 200 and list.kcpe_marks < 225  %}
					<p>D+</p>
					{% elif list.kcpe_marks >= 175 and list.kcpe_marks < 200  %}
					<p>D</p>
					{% elif list.kcpe_marks >= 150 and list.kcpe_marks < 175  %}
					<p>D-</p>
					{% elif list.kcpe_marks >= 0 and list.kcpe_marks < 150  %}
					<p>E</p>
					{% else %}
					<small>Invalid grade due to invalid marks</small>
					{%endif%}
				</td>
				<td class="name">{{list.county.capitalize}}</td>
				<td>
					<div>
						<a class="info" href="{% url 'updateStudi' list.id %}">Edit</a>
						<a href="{% url 'viewStudi' list.id %}">View</a>
					</div>
				</td>				
			</tr>
			{% endfor %}
			
		</table>
	</div>
{% else %}
<h4>There is no student with such details in our system </h4>
{% endif %}
	<p><i class="fas fa-user-plus"></i><a href="{% url 'register' %}">Add student</a></p>
{% endblock content %}