{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login page</title>
	<link rel="stylesheet" type="text/css" href="{% static '/dataApp/login.css' %}">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
	<p><a href="{% url 'home' %}"><span class="icon"><i class="fas fa-home"></i></span>Home</a></p>
	<div class="pagel">
		<form method="POST">
			<div class="tittle">
				<center><h3 class="studi">STUDENT'S LOGIN FORM</h3></center>
			</div>
			{% csrf_token %}
			<hr>
			<div class="details">
				<label>Your name</label>
				<input type="text" name="name" placeholder="Enter your name">
			</div>
			<div class="details">
				<label>Your Index</label>
				<input type="password" name="password" placeholder="Enter your index no.">
			</div>
			<button type="submit" name="submit" id="sbt">Submit</button>
		</form>
		<h3>Don't have an account <a href="{% url 'register' %}">Register</a></h3>
	</div>
	
</body>
</html>